body {
    font-family: 'Open Sans',sans-serif;
    background: #777;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body,html {
    margin: 0;
    padding: 0;
    min-height: 100%
}

h1 {
    font-family: Cardo,sans-serif;
    margin-top: 0
}

h1 a,h1 a:hover {
    color: #fff;
    text-decoration: none
}

h2 {
    font-family: Cardo,serif;
    font-size: 15px;
    letter-spacing: .06em;
    text-transform: uppercase;
    font-weight: 800!important;
    height: 15px;
    width: auto;
    padding: 0 10px;
    margin-top: -35px;
    margin-left: -10px;
    background: #fff;
    float: left;
    color: #000
}

@media (max-width: 767px) {
    h2 {
        margin:0 0 20px;
        padding: 0;
        font-size: 20px
    }
}

h3 {
    font-family: 'Open Sans' Cardo,sans-serif;
    margin-top: 5px!important;
    margin-bottom: 5px!important;
    font-weight: 600;
    font-size: 15px
}

h4 {
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 2px!important;
    font-size: 17px;
    margin-top: 0;
    font-weight: 600
}

h5 {
    font-family: Cardo,sans-serif;
    font-size: 14px;
    letter-spacing: .01em;
    margin-top: 0;
    margin-bottom: 0
}

h5 a,h5 a:hover {
    color: #fff;
    text-decoration: none
}

h6 {
    margin-top: 0;
    margin-bottom: 4px
}

h7 {
    display: block;
    color: #000;
    letter-spacing: .06em;
    font-weight: 600;
    margin-bottom: 10px
}

@media (max-width: 767px) {
    h7 {
        margin-right:0
    }
}

.ev-more {
    color: #888;
    cursor: pointer;
    font-size: 16px;
    line-height: 12px
}

ul {
    -webkit-padding-start: 0;
    padding-left: 0
}

ol,ul {
    margin-bottom: 0
}

hr {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px
}

.display-none {
    display: none
}

.padding-clear {
    padding: 0!important
}

.margin-clear {
    margin: 0!important
}

.bg-dk-gry-gradient {
    background: #44454C
}

.bg-lt-gry {
    background-color: #F4F5F5!important
}

.dark-links a {
    color: #000
}

.dark-links a:hover {
    color: #555
}

@media (min-width: 768px) and (max-width:991px) {
    .ev-content-side-padding {
        padding:0 20px
    }
}

@media (min-width: 768px) {
    .profile-main-content {
        margin-left:10px;
        margin-right: 0
    }
}

.box-padding-top {
    padding-top: 10px
}

.bg-gry {
    background-color: #949494!important
}

.nav a {
    color: #f7f7f7;
    cursor: pointer
}

.navbar-full-width {
    position: fixed;
    height: 40px;
    background: #44454c;
    border-bottom: 1px solid #5e5e5e;
    z-index: 0;
    width: 100%;
    top: 0
}

.navbar {
    height: 40px;
    min-height: 40px;
    border-radius: 0;
    padding-right: 10px;
    padding-left: 10px
}

.navbar-nav {
    margin: 3px 0 0;
    width: auto;
    float: right;
    padding: 5px 24px 0 35px;
    background: #44454c
}

@media (min-width: 768px) {
    .navbar-nav {
        padding:0;
        margin: 0!important
    }
}

.ev-navbar {
    max-width: 1078px;
    margin: 0 auto
}

.ev-navbar-container {
    background: #44454c;
    border-bottom: 1px solid #5e5e5e;
    position: fixed;
    width: 100%;
    max-width: 1080px;
    margin-left: -1px;
    z-index: 2000;
    margin-top: -40px}

.ev-navbar a {
    color: #fff!important
}

.navbar-header a {
    text-decoration: none
}

#xs-navbar-show-search {
    float: right;
    font-size: 25px;
    margin: 0 25px 0 0;
    color: #ddd;
    cursor: pointer
}

@media (max-width: 767px) {
    #xs-navbar-search {
        margin:8px 0 5px;
        width: 60%!important
    }
}

@media (min-width: 768px) {
    #xs-navbar-search {
        display:none!important
    }
}

.navbar-brand {
    padding: 4px 14px 4px 0;
    font-weight: 700
}

.ev-nav-group {
    cursor: pointer;
    line-height: 32px;
    margin-top: 1px
}

.ev-nav-group,.ev-nav-group li,.ev-nav-group ul {
    list-style: none!important
}

.ev-nav-group li ul li {
    margin: 10px 0
}

.ev-nav-group hr {
    border-top: 1px solid #656565
}

.ev-nav-group ul {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.ev-nav-group li ul {
    position: absolute;
    display: none;
    top: 50px;
    background: #44454C;
    padding: 0 15px;
    margin-left: -15px;
    z-index: 10
}

.ev-nav-group li ul li {
    clear: left
}

.ev-nav-group li ul li a {
    padding: 4px 0
}

.ev-nav-group-img {
    float: left
}

.ev-nav-group-img img {
    width: 30px;
    height: 30px;
    margin-right: 12px;
    background-color: #fff
}

.ev-nav-group-text {
    font-size: 18px;
    font-weight: 700;
    text-shadow: 1px 1px rgba(0,0,0,.4);
    line-height: 32px
}

.ev-nav-group a {
    color: #fff;
    text-decoration: none
}

.navbar-brand img {
    width: 42px;
    height: 42px;
    border-radius: 2px
}

.ev-navbar-brand {
    padding: 12px 0 15px;
    height: 0;
    font-size: 18px;
    font-weight: 700;
    float: left;
    text-shadow: 1px 1px rgba(0,0,0,.4)
}

.navbar-collapse {
    padding: 0
}

@media (max-width: 767px) {
    .navbar-collapse {
        margin-right:-10px;
        border-top: none;
        box-shadow: none
    }
}

.navbar-default .navbar-collapse {
    border-color: #888
}

@media (max-width: 767px) {
    #nav-person-xs {
        float:left;
        margin: 0 0 0 30px;
        padding: 0
    }
}

@media (min-width: 768px) {
    #nav-person {
        float:right;
        margin: 4px 0 0 25px;
        padding: 0
    }
}

#nav-person:focus,#nav-person:hover {
    background-color: transparent
}

#nav-person img {
    width: 32px;
    height: 32px;
    cursor: pointer
}

#nav-person-xs-image {
    float: right;
    font-weight: 700
}

#nav-person-xs-image img {
    width: 36px;
    height: 36px
}

.nav-option-xs {
    margin: 10px 0
}

@media (min-width: 768px) {
    .nav-option-xs {
        display:none
    }
}

.nav-option-xs-text {
    float: right;
    line-height: 20px;
    margin: 8px 7px;
    text-shadow: 1px 1px rgba(0,0,0,.4);
    text-decoration: none!important
}

.nav-option-xs-text a {
    text-decoration: none
}

.nav-option-xs-icon {
    float: right;
    clear: both;
    margin: 0 4px 0 15px;
    font-size: 26px
}

@media (min-width: 768px) {
    .navbar-form {
        margin:0;
        line-height: 34px;
        height: 34px
    }
}

@media (max-width: 767px) {
    .navbar-form {
        margin-top:0
    }
}

.form-group {
    height: 30px;
    line-height: 30px
}

.form-control {
    height: 30px
}

.ev-nav-search-btn {
    height: 30px;
    line-height: 16px;
    margin-top: 1px
}

.navbar-toggle {
    margin: 3px 0 0;
    border: 1px solid #ddd;
    padding: 8px 10px
}

.navbar-toggle .icon-bar {
    background-color: #ddd
}

.more-dropdown-menu {
    right: 0;
    left: auto
}

.more-dropdown-menu>li>a {
    width: 100%;
    color: #222;
    border-left: 0!important
}

.more-dropdown-menu li ul a:hover {
    background: #333;
    color: #fff
}

.nav .open>a,.nav .open>a:focus,.nav .open>a:hover {
    background-color: transparent;
    border-color: transparent
}

.dropdown-menu {
    margin: 0;
    border-radius: 0;
    background-color: #2A2B2F
}

.dropdown-menu .divider {
    background-color: #888
}

.dropdown-menu li {
    width: 100%
}

.dropdown-menu>li>a {
    width: 100%;
    color: #fff
}

.dropdown-menu li a:hover {
    background: #333;
    color: #fff
}

.xs-profile-dropdown-menu {
    width: 155px
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        right:-1px;
        left: auto
    }
}

.ev-body-container {
    max-width: 1080px;
    /* background-color: #fff; */
    position: relative;
    min-height: 100%;
    margin: 0 auto
}

.ev-body-container-shadow {


}

.cover-img {
    position: relative;
    color: #fff;
    margin: 30px 0 0;
    border-right: 1px solid #5e5e5e;
}

.cover-img img {
    width: 100%
}

.cover-img h1 {
    bottom: 5px;
    left: 25px;
    position: absolute;
    z-index: 5;
    text-shadow: 2px 2px 5px rgba(0,0,0,.5);
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .03em
}

.cover-img h5 {
    bottom: 43px;
    left: 25px;
    position: absolute;
    z-index: 8;
    text-shadow: 2px 2px 5px rgba(0,0,0,.5);
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
    font-size: 13px
}

.cover-img-shadow {
    position: absolute;
    z-index: 5;
    opacity: .45;
    bottom: 0;
    height: 72px;
    background-color: #000;
    width: 100%
}

.cover-img-text {
    bottom: 0
}

.cover-img-text img {
    width: 32px;
    height: 32px;
    background-color: #fff;
    margin: 0 8px 0 0
}

.ev-page-share {
    float: right;
    margin: -22px 0 15px 0
}

@media (max-width: 767px) {
    .ev-page-share {
        margin:0
    }
}

.ev-content {
    border: 1px solid #5e5e5e;
    padding: 25px 20px 15px;
    margin: 0 0 40px;
    clear: both
}

@media (max-width: 767px) {
    .ev-content {
        padding:15px 0 0;
        border: none;
        margin: 0
    }

    .ev-content-header {
        display: none
    }

    .xs-ev-content-header {
        background: #e7ebee;
        margin: 0 -15px 20px -15px;
        padding: 5px 15px;
        font-family: Cardo,sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .15em;
        font-size: 16px;}
}

@media (min-width: 768px) and (max-width:991px) {
    .ev-content {
        border:none
    }
}

.ev-content-voting-info {
    background-color: #eaedf2;
    padding: 15px 20px
}

.ev-content-voting-begins {
    color: #777;
    font-style: italic
}

.ev-content-voting-link,.ev-content-voting-link i {
    font-weight: 700;
    cursor: pointer
}

@media (max-width: 767px) {
    .ev-content-voting-info {
        background-color:transparent;
        margin: 0 0 15px;
        padding: 0
    }

    .ev-content-voting-begins {
        font-size: 17px;
        font-weight: 600;
        font-style: normal
    }

    .ev-content-voting-link,.ev-content-voting-link i {
        line-height: 28px
    }
}

@media (max-width: 767px) {
    .ev-content-summary {
        margin:-10px 0 0 0
    }
}

.ev-content hr {
    margin: 20px 0 25px
}

.ev-content-indented-summary {
    margin: 0 0 0 25px
}

@media (max-width: 767px) {
    .ev-content-indented-summary {
        margin:-10px 0 0 0
    }
}

.main-margin {
    min-height: 100%;
    margin: 0 auto}

.main-sort-by {
    margin: -8px 0 17px 0;
    clear: left;
    font-size: 13px;
    float: left
}

@media (max-width: 767px) {
    .main-sort-by {
        margin:-5px 0 10px 0
    }
}

.main-content {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background: #fff;
    border-right: 1px solid #5e5e5e;
}

.main-content h1 {
    padding-bottom: 6px;
    border-bottom: 1px dotted #999
}

@media (max-width: 767px) {
    .main-content {
        padding:20px 15px;
        border-left: none;
        border-right: none
    }

    .main-content h1 {
        font-size: 16px;
        margin: 5px 0 0;
        font-family: Cardo,sans-serif;
        border-bottom: none
    }

    .main-content h5 {
        font-size: 16px
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .main-content {
        padding-right:0;
        padding-left: 0
    }
}

@media (max-width: 767px) {
    .profile-detail-container {
        margin:0
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .profile-detail-container {
        margin:0 20px
    }
}

@media (min-width: 992px) {
    .profile-detail-container {
        margin:-20px 0 30px 0
    }
}

.profile-detail-content hr {
    clear: both;
    margin: 10px 0
}

.profile-detail-qa-pictures {
    width: 130px;
    float: right
}

.profile-detail-qa-picture {
    width: 46px;
    height: 46px;
    display: inline-block;
    border: 1px solid #777
}

.profile-detail-qa-picture img {
    width: 100%;
    height: 100%
}

.profile-match-text {
    clear: left;
    font-size: 17px;
    margin: 0 0 10px
}

.profile-match-text-strong {
    font-weight: 600;
    color: #000
}

.profile-match-text-light {
    color: #777;
    font-size: 14px
}

.onpage-nav hr {
    border-top: 1px solid #ccc;
    margin-bottom: 20px
}

.groups-search {
    margin: 20px 0;
    font-family: Cardo,sans-serif
}

.profile a {
    text-decoration: none
}

.profile a:hover {
    color: #777
}

.profile-picture {
    display: block;
    float: left;
    width: 110px;
    height: 110px;
    margin: 0 15px 0 0;
    border: 1px solid #595959
}

@media (max-width: 767px) {
    .profile-picture {
        width:65px;
        height: 65px;
        margin-bottom: 10px
    }
}

.profile-picture img {
    width: 108px;
    height: 108px
}

@media (max-width: 767px) {
    .profile-picture img {
        width:63px;
        height: 63px
    }
}

.profile-folder-bar {
    border: 1px solid #ccc;
    margin: 10px 0 -1px 0;
    padding: 0 30px 0 10px;
    color: #252525;
    cursor: pointer;
    transition: .3s;
    background-color: #f7f7f7;
    float: left;
    font-size: 14px;
    position: relative;
    clear: both
}

.profile-folder-bar:before {
    position: absolute;
    right: 0;
    top: -1px;
    content: '';
    border-top: 28px solid silver;
    border-left: 28px solid transparent
}

.profile-folder-bar:after {
    position: absolute;
    right: -1px;
    bottom: -1px;
    content: '';
    border-top: 30px solid #fff;
    border-left: 30px solid transparent
}

.profile-folder-bar:hover {
    color: #777
}

.profile-folder-bar-number {
    float: right;
    margin: 0 0 0 10px;
    text-transform: lowercase
}

.profile-folder-divider {
    clear: both;
    border-top: 1px solid #bababa;
    margin-top: 5px!important;
    margin-bottom: 0!important
}

.caret-width {
    width: 12px;
    display: inline-block
}

.margin-sm {
    margin-left: 12px
}

.margin-md {
    margin-left: 24px
}

.margin-lg {
    margin-left: 36px
}

.profile {
    float: left;
    clear: both;
    width: 100%;
    padding: 20px 0
}

@media (min-width: 768px) {
    .profile-indent {
        margin-left:30px!important
    }
}

.profile h4 {
    color: #000
}

.profile hr {
    margin: 15px 0 10px;
    border-top: 1px solid #ccc
}

.profile p {
    margin-bottom: 5px;
    line-height: 20px
}

.profile-row-first {
    clear: both
}

.profile-row {
    clear: both;
    margin: 15px 0 0
}

.profile-middle {
    overflow: hidden
}

.profile-title {
    clear: both;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px
}

.profile-name {
    overflow: hidden;
    margin-bottom: 5px
}

@media (min-width: 768px) {
    .profile-name {
        margin:0 0 1px
    }
}

.profile-vote-action-box {
    float: left;
    text-align: left;
    height: 100px;
    width: 30px;
    line-height: 100px;
    font-size: 25px;
    color: #a0a0a0
}

.profile-vote-action-box i {
    text-align: left
}

.profile-action-box-first {
    float: left;
    text-align: center;
    height: 32px;
    width: 54px;
    line-height: 30px;
    font-size: 28px;
    color: #8e8e8e;
    margin: 0 15px 0 0
}

.profile-action-box-first i {
    text-align: center
}

.profile-action-box {
    float: left;
    height: 32px;
    width: 100px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    color: #a0a0a0;
    margin: 3px 15px 0 0
}

.profile-action-box i {
    text-align: center
}

.functions-dropdown {
    float: right;
    margin-left: 25px
}

.functions-dropdown button {
    background-color: #f7f7f7;
    color: #aaa;
    padding: 4px 12px 3px;
    font-size: 20px;
    border-radius: 0
}

.open>.dropdown-toggle.btn-default, button#dropdownMenu1, .functions-dropdown .btn-default:hover {
    border: 1px solid #f7f7f7
}

.functions-dropdown>ul {
    margin-left: -125px!important;
    padding: 0!important;
    border: none!important;
    box-shadow: none!important;
    min-width: 0!important
}

.functions-dropdown .dropdown-menu {
    background-color: #eee}

.functions-dropdown-padding-sides {
    padding: 0 10px
}

.functions-menu {
    font-size: 14px;
    padding: 0 10px 4px;
    height: 110px;
    width: 155px;
    float: right;
    margin: 0 0 0 15px;
    border-left: 1px solid #bababa
}

@media (max-width: 991px) {
    .functions-menu {
        padding-left:10px;
        padding-right: 10px;
        height: auto;
        margin: 0;
        border-left: none}
}

.functions-menu hr {
    margin: 0 -10px 10px -10px;
    border-top: 1px solid #fff
}

.functions-menu-header {
    font-weight: 600;
    padding: 0 5px 10px
}

@media (max-width: 991px) {
    .functions-menu-header {
        padding:5px
    }
}

.save-candidate-toggled {
    color: red!important;
    font-weight: 700!important
}

.profile-stats {
    color: #888
}

.functions-menu ul {
    list-style: none
}

.functions-menu li {
    color: #777;
    font-size: 1em;
    margin-bottom: 5px;
    border-radius: 3px;
    cursor: pointer
}

.functions-menu-detail {
    font-size: 14px;
    padding: 0 0 4px;
    height: 110px;
    width: 135px;
    float: right;
    margin: 0 0 0 15px
}

.functions-menu-detail ul {
    list-style: none
}

.functions-menu-detail li {
    color: #919191;
    font-size: 1em;
    margin-bottom: 7px;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer
}

.functions-menu-detail>.functions-menu-header {
    padding: 0;
    margin: 2px 0 10px
}

.profile-vertical-divider {
    height: 110px;
    border-left: 1px solid #ccc;
    float: right
}

.profile-issue-stance-box {
    font-size: 14px;
    padding: 0 0 4px;
    height: 110px;
    width: 130px;
    float: right;
    margin: 0 0 0 15px
}

.profile-issue-stance-box-header {
    margin: 2px 0 10px;
    font-weight: 600
}

.profile-issue-stance-box-text {
    font-weight: 600
}

.profile-issue-stance-box-subtext {
    color: #919191;
    font-style: italic
}

.profile-issue-stance-alt {
    margin: 10px 0 0
}

@media (max-width: 767px) {
    .profile-issue-stance-alt {
        margin:5px 0 0
    }
}

.group {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 0;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: 0;
    clear: both
}

.profile-multimedia-first {
    width: 80px;
    height: 34px;
    line-height: 31px;
    float: right;
    margin-top: 2px;
    margin-left: 20px;
    text-align: center;
    color: #a0a0a0;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid #a0a0a0;
    border-radius: 20px
}

.profile-multimedia-first i {
    text-align: center
}

.profile-multimedia {
    width: 80px;
    height: 34px;
    line-height: 31px;
    margin-top: 2px;
    text-align: center;
    color: #a0a0a0;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid #a0a0a0
}

.profile-multimedia i {
    text-align: center
}

.profile-summary {
    font-size: 13px;
    margin-bottom: 7px
}

@media (max-width: 767px) {
    .profile-summary {
        clear:both;
        font-size: 14px;
        margin: 10px 0 0;
        max-width: none
    }
}

@media (min-width: 768px) {
    .profile-summary {
        max-width:480px
    }
}

.profile-list {
    font-size: 14px;
    color: #919191;
    margin-bottom: 13px;
    overflow: hidden;
    font-style: italic
}

@media (max-width: 767px) {
    .profile-list {
        font-size:13px;
        margin-bottom: 0
    }
}

.profile-list table {
    width: 100%
}

.profile-list tr {
    border-bottom: 1px solid #ccc
}

.profile-list tr:last-child {
    border: none
}

.profile-list td:first-child {
    width: 30%
}

@media (min-width: 768px) {
    .profile-summary {
        overflow:hidden
    }
}

.party {
    margin: 0!important
}

@media (max-width: 767px) {
    .profile-social {
        display:none
    }
}

.functions-menu i {
    font-size: 20px
}

.profile-social-icons {
    margin-bottom: 15px;
    padding: 30px 0 0;
    width: 100%;
    font-size: 18px
}

@media (max-width: 991px) {
    .profile-social-icons {
        padding:10px 0 0
    }
}

@media (max-width: 767px) {
    .profile-social-icons {
        clear:both
    }
}

.profile-social-icons a {
    display: inline-block;
    margin-right: 15px;
    color: #606060
}

.profile-social-icons a:last-child {
    margin-right: 0
}

.profile-page-title {
    float: left;
    font-family: Cardo,sans-serif;
    font-size: 20px;
    font-weight: 700
}

.profile-page-status {
    font-size: 17px;
    font-style: italic;
    overflow: auto;
    float: left;
    margin: -25px 0 25px 0
}

.profile-page-status-count {
    font-size: 14px
}

@media (max-width: 767px) {
    .profile-page-status {
        margin:10px 0 0
    }
}

.profile-page-nav-vertical-divider {
    height: 18px;
    border-left: 1px solid #aaa;
    float: right;
    margin: -21px 15px 0 0
}

@media (max-width: 767px) {
    .profile-page-nav-vertical-divider {
        height:18px;
        border-left: 1px solid #aaa;
        float: right;
        margin: 0 15px 0 0
    }
}

.profile-page-nav-buttons {
    float: right;
    margin: -22px 0 0 0
}

@media (max-width: 767px) {
    .profile-page-nav-buttons {
        float:right;
        margin: 12px 0 0
    }
}

.profile-page-nav-buttons a {
    color: #333;
    text-decoration: none
}

@media (max-width: 767px) {
    .profile-page-nav {
        margin:15px 0
    }
}

.profile-page-nav hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid #ccc
}

.xs-show-functions-btn {
    height: 42px;
    width: 42px;
    float: right;
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px 0 0
}

.xs-functions-menu {
    float: right
}

#sidebar-nav {
    /* border-left: 1px solid #5e5e5e; */
    overflow-y: scroll;
    background: #fff;
    margin-top: 30px
}

.sidebar-dropdown-background {
    background: #494949
}

.sidebar-dropdown {
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    position: fixed;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    letter-spacing: .03em;
    text-shadow: 1px 1px 2px rgba(0,0,0,.9);
    float: left
}

.sidebar-dropdown h2 {
    float: left;
    padding: 0
}

.sidebar-dropdown a {
    color: #eaeaea;
    text-decoration: none
}

.tabbar-full-width {
    position: fixed;
    top: 40px;
    height: 30px;
    width: 100%;
    background: #eee;
    border-bottom: 1px solid #ccc
}

.tabbar-nav-container {
    max-width: 1078px;
    margin: 0 auto
}

.tabbar-nav-overlay {
    height: 100%;
    background: #fff;
    width: 75%;
    z-index: -1;
    position: absolute;
    top: 0
}

.tabbar-nav-title-container {
    position: fixed;
    text-align: right;
    max-width: 1078px;
    width: 100%;
    height: 30px;
    background: #eee;
    z-index: 15;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.tabbar-nav-title {
    font-family: Cardo,serif;
    font-weight: 700;
    padding: 5px 0 3px;
    text-align: center;
    font-size: 15px;
    z-index: 1000;
    border-left: 1px solid #5e5e5e;
    width: 25%;
    float: right
}

@media (max-width: 1078px) {
    .tabbar-nav-title {
        margin-right:1px
    }
}

.tabbar-nav-xs-dropdown {
    background: 0 0;
    border: none;
    line-height: 17px
}

.tabbar-nav-link {
    float: left;
    font-family: Cardo,serif;
    font-weight: 700;

}

.tabbar-nav-link a {
    color: #333;
    text-decoration: none;
    padding: 5px 15px 4px;
    display: block;
    border-right: 1px solid #ccc;
    transition: .2s
}

.tabbar-nav-link a:hover {
    background-color: #e5e5e5
}

.tabbar-nav-link-social {
    float: right;
    font-family: Cardo,serif;
    font-weight: 700;
    border-left: 1px solid #ccc;
    line-height: 21px;
    transition: .2s;
}

.tabbar-nav-link-social a {
    color: #333;
    text-decoration: none;
    padding: 5px 13px 4px;
    display: block
}

.tabbar-nav-link-social a:hover {
    background-color: #e5e5e5
}

.tabbar-nav-scroll {
    background: 0 0;
    position: fixed;
    width: 100%;
    max-width: 1080px;
    z-index: 15;
    /* border-left: 1px solid #ccc; */
    border-right: 1px solid #ccc;
}

.tabbar-nav-scroll-button {
    float: right;
    clear: both
}

@media (max-width: 767px) {
    .tabbar-nav-scroll-button {
        display:none
    }
}

.tabbar-nav-scroll-button-up {
    float: right;
    padding: 0 13px 0 15px;
    border-left: 1px solid #bbb
}

.tabbar-nav-scroll-button-divider {
    border-top: 1px solid #bbb;
    clear: both;
    margin: 0
}

.tabbar-nav-scroll-button-down {
    float: right;
    padding: 0 13px 0 15px;
    border-left: 1px solid #bbb
}

.sidebar-sort-by {
    height: 36px;
    line-height: 36px;
    float: right;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    margin: 0 10px
}

.sidebar-sort-by a {
    color: #fff;
    text-decoration: none
}

.sidebar-sort-by-dropdown {
    text-align: right;
    margin-left: -100px;
    font-size: 12px
}

.sidebar-sort-by-dropdown li>a {
    padding: 3px 15px
}

.sidebar-bar-divider {
    clear: both;
    height: 1px;
    border-top: 1px solid #ccc
}

.sidebar-bar-button {
    padding: 4px 9px;
    background-color: #f5f5f5;
    clear: both;
    cursor: pointer
}

.sidebar-bar-button-last {
    border-bottom: none
}

.sidebar-bar-button h3 {
    font-size: 14px
}

.sidebar-profile {
    padding: 10px;
    font-size: 14px;
    clear: both
}

.sidebar-profile:hover {
    background-color: #f0f3f6
}

.sidebar-profile a {
    color: #333;
    text-decoration: none
}

.sidebar-profile-isFocused {
    padding: 10px;
    font-size: 14px;
    clear: both;
    background: #e9edf1
}

.sidebar-profile-isFocused a {
    color: #333;
    text-decoration: none
}

.sidebar-profile-picture {
    float: left;
    margin: 0 10px 0 0
}

.sidebar-profile-picture img {
    width: 38px;
    height: 38px;
    border: 1px solid #666
}

.sidebar-profile-text-wrapper {
    overflow: hidden;
    color: #333!important
}

.sidebar-profile-text-wrapper a {
    display: block
}

.sidebar-profile-party {
    font-size: 11px;
    color: #919191!important
}

.sidebar-indent {
    width: 12px;
    height: 15px;
    float: left;
    display: block
}

.push-footer {
    height: 51px
}

.ev-footer {
    height: 60px;
    z-index: 1000;
    max-width: 1080px;
    margin: 0 0 -1px 0;
    background-color: #44454C;
    border-top: 1px solid #ccc
}

.ev-footer a {
    margin-right: 10px;
    float: right
}

.ev-footer-img {
    margin: 16px 5px 0 0
}

.ev-footer-img img {
    width: 120px;}

.row {
    margin: 0
}

.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0
}

.center-icon {
    text-align: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: table;
    font-size: 30px;
    padding-top: 30px;
    padding-left: 41px;
    padding-bottom: 30px;
    padding-right: 41px;
    background-color: #000
}

.center-icon .fa {
    display: table-cell;
    vertical-align: middle
}

@media (min-width: 992px) {
    .profile-qa-container {
        overflow:hidden
    }
}

.profile-qa-container {
    overflow: hidden
}

.profile-question-text {
    padding: 15px 0 0;
    overflow: hidden
}

.profile-question-text h7 {
    margin-top: 4px
}

.candidate-text-opinion-buttons {
    float: right;
    text-align: center;
    width: 130px;
    font-size: 18px;
    margin: 0 0 0 15px;
    color: #777
}

@media (max-width: 767px) {
    .candidate-text-opinion-buttons {
        display:none
    }
}

.candidate-text-opinion-button {
    display: inline-block;
    padding: 2px 0;
    width: 46px
}

.candidate-text-opinion-text {
    font-size: 12px
}

.xs-candidate-text-opinion-buttons {
    font-size: 18px;
    color: #777;
    margin: 15px 0 0
}

@media (min-width: 768px) {
    .xs-candidate-text-opinion-buttons {
        display:none
    }
}

.xs-candidate-text-opinion-picture {
    width: 40px;
    height: 40px;
    border: 1px solid #777;
    margin: 0 10px 0 0;
    float: left
}

.xs-candidate-text-opinion-picture img {
    width: 38px;
    height: 38px
}

.xs-candidate-text-opinion-button {
    text-align: center;
    float: left;
    width: 40px;
    height: 40px
}

.xs-candidate-text-opinion-text {
    font-size: 12px
}

.xs-candidate-text-opinion-divider {
    height: 36px;
    margin: 2px 30px 2px 20px;
    border-left: 1px solid #ccc;
    float: left
}

.stickit {
    position: fixed;
    top: 0
}

.stickit-end {
    position: absolute;
    right: 0
}

.displayNone {
    display: none
}

.functions-menu-detail i {
    font-size: 20px
}

.temp-alert-header {
    margin: -15px 0 30px 0
}

@media (min-width: 768px) and (max-width:991px) {
    .temp-alert-header {
        margin:-15px 15px 45px 15px
    }
}

@media (max-width: 767px) {
    .temp-alert-header {
        margin:15px 0
    }
}
