<div style="padding-top: 0;" class="profile clearfix">

    <div class="col-sm-2 hidden-xs">
      <a class="profile-picture" href="#/candidates/{{ candidate.id }}">
        <img src="{{ candidate.image }}" />
        <div class="clearfix"></div>
      </a>
    </div><!-- /.col-sm-2 -->

    <!-- <div class="clearfix hidden-sm hidden-md hidden-lg"></div> -->
    <div class="col-sm-7">
      <div class="profile-detail-content">
        <a class="profile-picture hidden-sm hidden-md hidden-lg" href="#/candidates/{{ candidate.id }}">
          <img src="{{ candidate.image }}" />
        </a>

        <div class="dropdown functions-dropdown hidden-sm hidden-md hidden-lg">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-fw fa-ellipsis-h"></i>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <div class="bg-lt-gry box-padding-sides functions-menu">
              <div class="profile-social-icons">
                  <a ng-repeat="socialLink in socialLinks" ng-show="socialLink.isSupported" href="{{socialLink.url}}">
                    <i class="fa fa-fw fa-{{socialLink.note}}"></i>
                  </a>
                  <!--
                  <a style="margin-right: 0; cursor: pointer; color: #888;" ng-show="socialIconsAreDisplayed && showMoreSocialIcon" ng-click="toggleSocialIcons();">
                    <i class="fa fa-fw fa-angle-up"></i>
                  </a>
                  -->
              </div>

              <p>Save Candidate</p>
              <ul>
                <li>Voting For</li>
                <li>Not Voting For</li>
              </ul>

            </div><!-- /.bg-lt-gry box-padding-sides profile-right-col -->
          </ul>
        </div>

        <div class="profile-subtitle">
          <a href="/#/candidates/{{candidate.id}}">
            <h4>{{ candidate.name }}</h4>
          </a>
        </div>
        <div class="profile-list">
          <table>
            <tr>
              <!-- <td>Party</td> -->
              <td>Independent</td>
            </tr>
            <!--
            <tr>
              <td>Videos</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Questions </td>
              <td>7</td>
            </tr>
            <tr>
              <td>Comments</td>
              <td>23</td>
            </tr>
            -->
          </table>
        </div>
      </div><!-- /.box-padding-sides -->
    </div><!-- /.col-sm-7 -->
    <div class="col-sm-3 hidden-xs">
      <div class="bg-lt-gry functions-menu">
        <div class="profile-social-icons">
            <a ng-repeat="socialLink in displayedSocialLinks" ng-show="socialLink.isSupported" href="{{socialLink.url}}">
              <i class="fa fa-fw fa-{{socialLink.note}}"></i>
            </a>
            <a style="margin-right: 0; cursor: pointer; color: #888;" ng-show="!socialIconsAreDisplayed && showMoreSocialIcon" ng-click="toggleSocialIcons();">
              <i class="fa fa-fw fa-ellipsis-h"></i>
            </a>
            <!--
            <a style="margin-right: 0; cursor: pointer; color: #888;" ng-show="socialIconsAreDisplayed && showMoreSocialIcon" ng-click="toggleSocialIcons();">
              <i class="fa fa-fw fa-angle-up"></i>
            </a>
            -->
        </div>

        <ul>
          <li><i class="fa fa-check"></i> &nbsp; Voting For</li>
          <li><i class="fa fa-check"></i> &nbsp; Not Voting For</li>
        </ul>

      </div><!-- /.bg-lt-gry box-padding-sides profile-right-col -->
    </div><!-- /.col-sm-3 -->

    <div class="clearfix"></div>
    <div class="col-xs-12">
      <div class="profile-detail-content">
        <div class="candidate-text">
          <h7>Summary</h7>
          <p>
            <ev-truncated-text text="candidate.summary" word-limit="40" />
          </p>
        </div>
        <div class="candidate-text">
          <h7>Experience</h7>
          <p>
            <ev-truncated-text text="candidate.summary" word-limit="40" />
          </p>
        </div>
        <div class="candidate-text">
          <h7>Goals</h7>
          <p>
            <ev-truncated-text text="candidate.summary" word-limit="40" />
          </p>
        </div>
      </div>
    </div>

</div><!-- /.profile clearfix -->
<div class="clearfix"></div>
