<div class="profile-folder">

  <!-- #folder-#-bar is the button that shows or hides folder-# onclick -->
  <div id="folder-#-bar" class="profile-folder-bar">
    <h3><i id="folder-#-icon" class="fa fa-caret-down caret-width"></i>{{ post.name }} <span class="profile-folder-bar-number">23</span></h3>
  </div>
  <div id="folder-#" class="profile-folder" ng-repeat="candidate in post.candidates">
    <ev-profile candidate="candidate"></ev-profile>
  </div><!-- / #profile-# .profile-folder -->

</div><!-- /.profile-folder -->