<!-- #folder-#-bar is the button that shows or hides folder-# onclick -->
<div class="profile-folder-bar" ng-click="toggleFolder()">
  <h3>
    <i class="fa fa-caret-down caret-width" ng-show="folderExpanded"></i>
    <i class="fa fa-caret-right caret-width" ng-show="!folderExpanded"></i>
    {{ post.name }}
    <span class="profile-folder-bar-number">23</span>
  </h3>
</div>
<div class="profile-folder" ng-show="folderExpanded">
  <ev-profile candidate-id="candidateId" ng-repeat="candidateId in post.candidateIds" /></ev-profile>
</div><!-- /.profile-folder -->
