<div class="profile clearfix">
  <a href="#">
    <img src="http://placehold.it/110x110">
    <h4>Candidate Name</h4>
  </a>
  <div class="profile-social">
    <i class="fa fa-facebook-square"></i>
    <i class="fa fa-twitter-square"></i>
    <i class="fa fa-linkedin-square"></i>
    <i class="fa fa-pinterest-square"></i>
  </div>
  <hr>
  <p class="party"><b>Party Name</b></p>
  <div class="profile-multimedia">
    <i class="fa fa-play-circle-o"></i>
  </div>
  <p class="profile-summary">Profile Summary</p>
</div><!-- /.profile clearfix -->
