<div class="ev-content">
  <h2>Candidate Profile</h2>

  <div style="padding-top: 0; padding-bottom: 0; border: none;" class="profile clearfix">

      <div class="profile-picture hidden-xs" style="z-index: 1;"><!-- z-index:1 makes it clickable -->
        <a href="#/candidates/{{ candidate.id }}">
          <img src="{{ candidate.image }}" />
          <div class="clearfix"></div>
        </a>
      </div>

      <div class="functions-menu-detail hidden-xs hidden-sm">
        <div class="functions-menu-header">
          Save Candidate
        </div>
        <ul>
          <li><i class="fa fa-check"></i> &nbsp; Voting For</li>
          <li><i class="fa fa-check"></i> &nbsp; Not Voting For</li>
        </ul>

      </div><!-- /.functions-menu-detail hidden-xs hidden-sm -->

      <div class="profile-vertical-divider">
      </div>

      <div class="profile-issue-stance-box">
        <div class="profile-issue-stance-box-header">
          Issue Stance
        </div>
        <span class="profile-issue-stance-box-text">
          80% match<br>
        </span>
        <span class="profile-issue-stance-box-subtext">
          based on<br>
          3 questions
        </span>
      </div>

      <div class="profile-vertical-divider">
      </div>

      <!-- <div class="clearfix hidden-sm hidden-md hidden-lg"></div> -->
      <div class="profile-main-content">
        <a class="profile-picture hidden-sm hidden-md hidden-lg" href="#/candidates/{{ candidate.id }}">
          <img src="{{ candidate.image }}" />
        </a>

        <div class="dropdown functions-dropdown hidden-md hidden-lg">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-fw fa-ellipsis-h"></i>
          </button>
          <ul class="dropdown-menu xs-profile-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <div class="functions-menu-detail">
              <!-- <div class="profile-social-icons">
                  <a ng-repeat="socialLink in socialLinks" ng-show="socialLink.isSupported" href="{{socialLink.url}}">
                    <i class="fa fa-fw fa-{{socialLink.note}}"></i>
                  </a>
              </div> -->
              <div class="functions-menu-header">
                Save Candidate
              </div>
              <ul>
                <li><i class="fa fa-check"></i> &nbsp; Voting For</li>
                <li><i class="fa fa-check"></i> &nbsp; Not Voting For</li>
              </ul>

            </div><!-- /.bg-lt-gry box-padding-sides profile-right-col -->
          </ul>
        </div>


        <div class="profile-name">
          <a href="/#/candidates/{{candidate.id}}">
            <h4>{{ candidate.name }}</h4>
          </a>
        </div>
        <div class="profile-list">
          <table>
            <tr>
              <!-- <td>Party</td> -->
              <td>Independent</td>
            </tr>
          </table>
        </div>
        <div class="profile-social-icons">
          <a ng-repeat="socialLink in displayedSocialLinks" ng-show="socialLink.isSupported" href="{{socialLink.url}}">
            <i class="fa fa-fw fa-{{socialLink.note}}"></i>
          </a>
        </div>


      </div><!-- /.box-padding-sides -->

      <div class="clearfix"></div>

      <div class="col-xs-12">
      <div class="profile-detail-content">
        <div class="candidate-text">
          <h7>Summary</h7>
          <p>
            <ev-truncated-text text="candidate.summary" word-limit="40" />
          </p>
        </div>
        <div class="candidate-text">
          <h7>Experience</h7>
          <p>
            <ev-truncated-text text="candidate.summary" word-limit="40" />
          </p>
        </div>
        <div class="candidate-text" style="border: none;">
          <h7>Goals</h7>
          <p>
            <ev-truncated-text text="candidate.summary" word-limit="40" />
          </p>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

  </div><!-- /.profile clearfix -->

  <div class="clearfix"></div>
</div><!-- /.ev-content -->

<div class="ev-content">
  <h2>Q & A</h2>
  <div class="profile-detail-qa-pictures">
    <div style="float: left;" class="profile-detail-qa-picture">
      <img src="{{ candidate.image }}" />
      <div class="clearfix"></div>
    </div>
    <div style="float: right;" class="profile-detail-qa-picture">
      <img src="images/kevin-hall-monitor.png" />
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="profile-match-text">
    <span class="profile-match-text-strong">80% match</span> <span class="profile-match-text-light">based on 2 answers</span>
  </div>
  <p style="margin-bottom: 13px;" class="main-sort-by">sort by: <a>most answered</a></p>
  <hr style="clear:both;">
  <div style="padding-top: 0; padding-bottom: 0; border: none;" class="profile clearfix">
    <div class="profile-detail-content">
      <div class="candidate-text-opinion-buttons">
        <div class="candidate-text-opinion-button">
          <i class="fa fa-thumbs-up"></i>
          <div class="candidate-text-opinion-text">
            Like
          </div>
        </div>
        <div class="candidate-text-opinion-button">
          <i class="fa fa-thumbs-down"></i>
          <div class="candidate-text-opinion-text">
            Dislike
          </div>
        </div>
      </div>
      <div class="candidate-text" style="padding-top: 0;">
        <h7>Do you agree that climate change is man-made?</h7>
        <p style="overflow: hidden;">
          <ev-truncated-text text="candidate.summary" word-limit="40" />
        </p>
      </div>
      <div class="candidate-text" style="border: none;">
        <h7>Do you agree that climate change is a myth, and if so, isn't this question just an example of a question that could span 2 lines?</h7>
          <div class="candidate-text-opinion-buttons">
            <div class="candidate-text-opinion-button">
              <i class="fa fa-thumbs-up"></i>
              <div class="candidate-text-opinion-text">
                Like
              </div>
            </div>
            <div class="candidate-text-opinion-button">
              <i class="fa fa-thumbs-down"></i>
              <div class="candidate-text-opinion-text">
                Dislike
              </div>
            </div>
          </div>
        <p>
          <ev-truncated-text text="candidate.summary" word-limit="40" />
        </p>
      </div>
    </div>

    <div class="clearfix"></div>

  </div><!-- /.profile clearfix -->

  <div class="clearfix"></div>
</div><!-- /.ev-content -->