<div class="profile clearfix">
  <div class="profile-row-first">

    <div class="col-sm-2">
      <a class="profile-picture" href="candidate.html">
        <img src="{{ candidate.image }}" />
      </a>
      <div class="clearfix"></div>
    </div><!-- /.col-sm-2 -->
    <div class="col-sm-7">
      <div class="box-padding-sides">
        <div class="profile-subtitle">
          <a href="candidate.html">
            <h4>{{ candidate.name }}</h4>
          </a>
        </div>
        <div class="profile-summary">
          {{ candidate.summary }}
          <span class="more">more...</span>
        </div>
        <div class="profile-list">
          <table>
            <tr>
              <td>Party</td>
              <td>Independent</td>
            </tr>
            <tr>
              <td>Alterego</td>
              <td>{{candidate.everyvote.alterego}}</td>
            </tr>
            <tr>
              <td>Videos</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Questions </td>
              <td>7</td>
            </tr>
            <tr>
              <td>Comments</td>
              <td>23</td>
            </tr>
          </table>
        </div>
      </div>
    </div><!-- /.col-sm-7 -->
    <div class="col-sm-3">
      <div class="bg-lt-gry box-padding-sides profile-right-col">
        <div class="profile-stats">
        </div>
        <div class="profile-social-icons">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-linkedin"></i>
          <i class="fa fa-ellipsis-h"></i>
        </div>
        <p>Save Candidate</p>
        <ul>
          <li>Voting For</li>
          <li>Not Voting For</li>
        </ul>
      </div>
    </div><!-- /.col-sm-3 -->
  </div><!-- /.profile-row-first -->
</div><!-- /.profile clearfix -->
<hr>
