<div class="profile clearfix">

    <div class="profile-picture hidden-xs" style="z-index: 1;"><!-- z-index:1 makes it clickable -->
      <a href="#/candidates/{{ candidate.id }}">
        <img src="{{ candidate.image }}" />
        <div class="clearfix"></div>
      </a>
    </div>

    <div class="bg-slate functions-menu hidden-xs hidden-sm">
      <div class="functions-menu-header">
        Save Candidate
      </div>
      <hr>
      <ul>
        <li ng-click="toggleVotingFor()" ng-class="votingFor ? 'save-candidate-toggled' : ''">
          <i class="fa fa-fw fa-check"></i> Voting For
        </li>
        <li ng-click="toggleNotVotingFor()" ng-class="notVotingFor ? 'save-candidate-toggled' : ''">
          <i class="fa fa-fw fa-times"></i> Not Voting For
        </li>
      </ul>
    </div><!-- /.bg-slate box-padding-sides profile-right-col -->

    <div class="profile-main-content">
      <a class="profile-picture hidden-sm hidden-md hidden-lg" href="#/candidates/{{ candidate.id }}">
        <img src="{{ candidate.image }}" />
      </a>

      <div class="dropdown functions-dropdown hidden-md hidden-lg">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          <i class="fa fa-fw fa-ellipsis-h"></i>
        </button>
        <ul class="dropdown-menu xs-profile-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <div class="bg-slate box-padding-sides functions-menu">
            <div class="functions-menu-header">
              Save Candidate
            </div>
            <hr>
            <ul>
              <li ng-click="toggleVotingFor()" ng-class="votingFor ? 'save-candidate-toggled' : ''">
                <i class="fa fa-fw fa-check"></i> Voting For
              </li>
              <li ng-click="toggleNotVotingFor()" ng-class="notVotingFor ? 'save-candidate-toggled' : ''">
                <i class="fa fa-fw fa-times"></i> Not Voting For
              </li>
            </ul>
          </div><!-- /.bg-slate box-padding-sides profile-right-col -->
        </ul>
      </div>
      <div class="profile-name">
        <a href="/#/candidates/{{candidate.id}}">
          <h4>{{ candidate.name }}</h4>
        </a>
      </div>
      <div class="profile-list">
        <table>
          <tr>
            <td>Independent</td>
          </tr>
        </table>
      </div>
      <div class="profile-issue-stance-alt hidden-sm hidden-md hidden-lg">
        <span class="profile-match-text-strong">80% match</span> <span class="profile-match-text-light">based on 2 answers</span>
      </div>

      <div class="profile-summary">
        <ev-truncated-text text='summary' word-limit="40"></ev-truncated-text>
      </div>

    </div><!-- /.box-padding-sides -->

    <div class="clearfix"></div>

</div><!-- /.profile clearfix -->
