<div class="sidebar-profile" ng-style="isFocused ? {'background-color':'blue'} : {}">
  <div class="sidebar-profile-picture">
    <a href="#/candidates/{{ candidate.id }}">
      <img src="{{ candidate.image }}" />
    </a>
  </div>
  <div class="sidebar-profile-text-wrapper">
    <a href="/#/candidates/{{candidate.id}}">{{ candidate.name }}</a><br>
    <a class="sidebar-profile-party" href="/#/candidates/{{candidate.id}}">Independent</a></span>
  </div>
  <div class="clearfix">
  </div>
</div><!-- /.sidebar-profile -->
