<!-- #sidebar-#-bar is the button that shows or hides sidebar-# onclick -->
<span class="stickem">
  <div class="sidebar-bar-button click-me-color" ng-click="toggleSidebarFolder()">
    <h3 style="font-weight: 500;">
      <i class="fa fa-minus-square-o" ng-show="sidebarFolderExpanded" ></i>
      <i class="fa fa-plus-square-o" ng-show="!sidebarFolderExpanded"></i>
      {{ post.name }}
      <span style="float:right; margin-right: 5px;">{{ post.totalCandidates }}</span>
    </h3>
  </div>
</span>
<div class="sidebar-bar-divider" ng-show="sidebarFolderExpanded"></div>
<div class="sidebar-folder" ng-show="sidebarFolderExpanded">
  <ev-sidebar-profile candidate-id="candidateId" ng-repeat="candidateId in post.candidateIds" /></ev-sidebar-profile>
</div><!-- /#sidebar-# -->