<div class="ev-content-side-padding">
<!--   <div class="ev-page-share">
    <i class="fa fa-share-square-o"></i> share
  </div> -->

<!--   <div class="profile-page-nav-vertical-divider">
  </div> -->

  <div class="profile-page-status">
    Running for President <span class="profile-page-status-count"></span>
  </div>

  <div class="profile-page-nav-buttons">
    <a href="#/candidates/{{prevCandidateId}}">&lt; prev</a>
    &nbsp &nbsp
    <a href="#/candidates/{{nextCandidateId}}">next &gt;</a>
  </div>

</div>
<ev-profile-detail candidate-id="candidateId"></ev-profile-detail>
