<ev-profile candidate-id="candidateId"></ev-profile>

<div class="profile-page-nav">
  <div class="profile-page-title">
    Candidate
  </div>
  <div class="profile-page-nav-buttons">
    <a href="#">< prev</a>
    &nbsp &nbsp
    <a href="#">next ></a>
  </div>
  <div class="profile-page-status">
    Running for President
  </div>
  <div class="clearfix"></div>
  <hr>
</div>
<div class="profile clearfix">
  <div class="profile-row-first">
    <div class="col-sm-2">
      <a class="profile-picture" href="candidate.html">
        <img src="img/sojourner-truth.jpg" />
      </a>
    </div><!-- /.col-sm-2 -->
    <div class="col-sm-7">
      <div class="box-padding-sides">
        <div class="profile-subtitle">
          <a href="candidate.html">
            <h4>Sojourner Truth</h4>
          </a>
        </div>
        <div class="profile-list">
          <table>
            <tr>
              <td>Party</td>
              <td>Independent</td>
            </tr>
            <tr>
              <td>Videos</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Questions </td>
              <td>7</td>
            </tr>
            <tr>
              <td>Comments</td>
              <td>23</td>
            </tr>
          </table>
        </div>
      </div>
    </div><!-- /.col-sm-7 -->
    <div class="col-sm-3">
      <div class="bg-lt-gry box-padding-sides profile-right-col">
        <div class="profile-stats">
        </div>
        <div class="profile-social-icons">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-linkedin"></i>
          <i class="fa fa-ellipsis-h"></i>
        </div>
        <p>Save Candidate</p>
        <ul>
          <li>Voting For</li>
          <li>Not Voting For</li>
        </ul>
      </div>
    </div><!-- /.col-sm-3 -->
  </div><!-- /.profile-row-first -->
</div><!-- /.profile clearfix -->


<div class="row">
  <div class="col-sm-2">
    <div class="center-icon">
      <div class="fa fa-youtube-play"></div>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="candidate-text">
      <h7>Summary</h7>
      <p>If the first woman God ever made was strong enough to turn the world upside down all alone, these women together ought to be able to turn it back, and get it right side up again! And now they is asking to do it, the men better let them.</p>
    </div>
  </div>
  <div class="col-sm-3">
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <div class="center-icon">
      <div class="fa fa-youtube-play"></div>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="candidate-text">
      <h7>Experience</h7>
      <p>Proin congue lectus risus, id vulputate nisi fringilla et. Sed fringilla quam magna, vitae facilisis turpis dignissim et. Mauris sit amet bibendum lacus. Morbi consectetur lacus venenatis sapien finibus, et mattis nulla viverra. Aenean dictum molestie ligula vitae ultrices. Sed molestie nunc ac aliquet tincidunt.</p>
    </div>
  </div>
  <div class="col-sm-3">
  </div>
</div>

<h1 ng-show="notFound">NOT FOUND</h1>

<h1>{{fullname}}</h1>

<h2>{{summary}}</h2>
