<div class="ev-content-side-padding">
<!--   <div class="ev-page-share">
    <i class="fa fa-share-square-o"></i> share
  </div> -->
</div>
<div class="temp-alert-header">The "My Candidates" page is under construction. It will show a list of all the candidates you have selected as Voting For in your next election, it will include your (optional) explanations why you are voting for a candidate, and you'll be able to share this page publicly over social media.</div>
<div class="ev-content">
  <div class="xs-ev-content-header hidden-sm hidden-md hidden-lg">
    I'm voting for
  </div>
  <h2 class="ev-content-header">I'm voting for</h2>

  <ev-profile-listing-folder post="post" ng-repeat="post in posts"></ev-profile-listing-folder>

  <div class="clearfix"></div>
</div><!-- /.ev-content -->