<h2>Election</h2>
<p><b>Voting begins in 58 days and 6 hours</b></p>
<p>Voting Days: October 23 (9am-5pm), October 24 (7am-7pm), October 25 (9am-5pm)</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur lacinia mi, nec tincidunt eros. Aliquam nec sem aliquet, mattis nisi sit amet, fringilla arcu. Aenean egestas risus eu facilisis vulputate. Praesent rutrum mollis nisl, eget tempor turpis interdum ultricies. Cras imperdiet mi ut risus pellentesque porta.... <a href="#">show more</a></p>
<h2>Candidates</h2>
<p class="main-sort-by">Sort by: <a>random</a></p>

<ev-profile-folder post="post" ng-repeat="post in posts" /></ev-profile-folder>
