<div class="profile-detail-container">
  <div class="profile-page-nav">
  <!--   <div class="profile-page-title">
      Candidate
    </div> -->
    <div class="profile-page-nav-buttons">
      <a href="#">&lt; prev</a>
      &nbsp &nbsp
      <a href="#">next &gt;</a>
    </div>
    <div class="profile-page-status">
      Running for President (1/7)
    </div>
    <div class="clearfix"></div>
    <hr>
  </div>
</div>

<div class="ev-content">
  <h2>Candidates</h2>
  <p class="main-sort-by">sort by: <a>random</a></p>

  <ev-profile-detail candidate-id="candidateId"></ev-profile-detail>
  <div class="clearfix"></div>
</div><!-- /.ev-content -->