<h2>Election</h2>
<p><b>Voting begins in 58 days and 6 hours</b></p>
<p>
  <b>Voting Days</b><br>
  October 23, 9AM - 5PM<br>
  October 24, 7AM - 7PM<br>
  October 25, 9AM - 5PM
</p>
<p>
  <span ng-show="!fullSummary">{{ truncSummary }}</span>
  <span ng-show="fullSummary">{{ summary }}</span>
  <span class="ev-more" ng-show="!fullSummary && truncSummaryIsLessThanSummary" ng-click="toggleSummary();">more</span>
  <span class="ev-more" ng-show="fullSummary && truncSummaryIsLessThanSummary" ng-click="toggleSummary();">less</span>
</p>
<h2>Candidates</h2>
<p class="main-sort-by">Sort by: <a>random</a></p>

<ev-profile-folder post="post" ng-repeat="post in posts" /></ev-profile-folder>
