<div class="ev-content-side-padding">
<!--   <div class="ev-page-share">
    <i class="fa fa-share-square-o"></i> share
  </div> -->
</div>
<div class="ev-content">
  <div class="xs-ev-content-header hidden-sm hidden-md hidden-lg">
    Search Input
  </div>
  <h2 class="ev-content-header">Search Input</h2>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Type your voting address or organization name...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
    </span>
  </div><!-- /input-group -->
</div><!-- /.ev-content -->
<div class="ev-content">
  <div class="xs-ev-content-header hidden-sm hidden-md hidden-lg">
    Search Results
  </div>
  <h2 class="ev-content-header">Search Results</h2>
  <p class="main-sort-by">sort by: <a>random</a></p>

  <ev-profile-listing-folder post="post" ng-repeat="post in posts"></ev-profile-listing-folder>
  <div class="clearfix"></div>
</div><!-- /.ev-content -->