<nav id="sidebar-nav" class="affix stickem-container sidebar-nav-h-resize" data-spy="affix" data-offset-top="0">
  <div ng-repeat="post in posts">
    <div ng-show="!$first" class="sidebar-bar-divider"></div>
    <ev-sidebar-profile-folder post="post">
    </ev-sidebar-profile-folder>
    <div ng-show="$last" ng-class="sidebar-bar-divider"></div>
  </div>

</nav>

<script>
  function resizeSidebar () {
    sidebarWidth = $("#sidebar-col-width").width();
    windowWidth = $(window).width();
    $(".sidebar-nav-h-resize").width(sidebarWidth);
    if (windowWidth > 1079) {
      $(".tabbar-nav-h-resize").width(sidebarWidth - 2);
    } else {
      $(".tabbar-nav-h-resize").width(sidebarWidth - 1);
    }
  }

  resizeSidebar();

  $(window).resize(function() {
    resizeSidebar();
  })

  function resizeToWindow () {
    windowHeight = $(window).height() - 70;
    $("#sidebar-nav").height(windowHeight);
  }

  resizeToWindow();

  $(window).resize(function() {
    resizeToWindow();
  });

  var amount = '';

  function scroll() {
      $('#sidebar-nav').animate({
          scrollTop: amount
      }, 75, 'linear',function() {
          if (amount != '') {
              scroll();
          }
      });
  }
  $('.tabbar-nav-scroll-button-up').hover(function() {
      amount = '-=10';
      scroll();
  }, function() {
      amount = '';
  });
  $('.tabbar-nav-scroll-button-down').hover(function() {
      amount = '+=10';
      scroll();
  }, function() {
      amount = '';
  });

</script>
